.sign-up-general-container {
    background-color: #F4F7FC;
    height: 100%;
}

.sign-up-sub-container {
    background-color: #FFFFFF;
    height: 100%;
    border-radius: 300px;
    padding: 35px;
}

.sign-up-isologo-container {
    width: 100%;
}

.sign-up-isologo {
    width: 130px;
    margin: auto;
}

.sign-up-fields-container {
    margin-top: 30px;
}

.sign-up-input-field {
    width: 100%;
    margin-bottom: 30px;
}

.sign-up-button {
    width: 100%;
    margin-top: 10px;
}
