<wallet-back-button (callback)="goBack()"></wallet-back-button>

<ion-row class="sign-up-general-container">
  <ion-col class="sign-up-sub-container">
    <ion-row class="sign-up-isologo-container">
      <ion-img class="sign-up-isologo" src="../../assets/isologo.png"></ion-img>
    </ion-row>

    <ion-row class='sign-up-fields-container'>
      <ion-row class="sign-up-input-field">
        <wallet-input [title]="'Name'" [type]="'text'" [callback]="null"></wallet-input>
      </ion-row>

      <ion-row class="sign-up-input-field">
        <wallet-input [title]="'Lastname'" [type]="'text'" [callback]="null"></wallet-input>
      </ion-row>

      <ion-row class="sign-up-input-field">
        <wallet-input [title]="'Username'" [type]="'text'" [callback]="null"></wallet-input>
      </ion-row>

      <ion-row class="sign-up-input-field">
        <wallet-input [title]="'Email'" [type]="'text'" [callback]="null"></wallet-input>
      </ion-row>

      <ion-row class="sign-up-input-field">
        <wallet-input [title]="'Password'" [type]="'password'" [callback]="null"></wallet-input>
      </ion-row>
    </ion-row>

    <ion-row class="sign-up-button">
      <wallet-button [title]="'Sign up'" [styleType]="'primary'" (callback)="null"></wallet-button>
    </ion-row>
  </ion-col>
</ion-row>