.login-general-container {
    background-color: #F4F7FC;
    height: 100%;
}

.login-sub-container {
    background-color: #FFFFFF;
    height: 100%;
    border-radius: 300px;
    padding: 35px;
}

.login-isologo-container {
    width: 100%;
}

.login-isologo {
    width: 150px;
    margin: auto;
}

.login-fields-container {
    margin-top: 50px;
}

.login-input-field {
    width: 100%;
    margin-bottom: 30px;
}

.login-buttons-container {
    margin-top: -10px;
}

.login-button {
    width: 100%;
    margin-top: 35px;
}

.login-forgot-password {
    color: #6E99FF;
    font-size: 11pt;
    margin-top: 60px; 
    justify-content: center;
}