.wallet-icon-button-general-container {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: #F4F7FC;
    float: right;
    margin-right: 15px;
    margin-top: 7px;
}

.wallet-icon-button-icon {
    width: 20px;
    margin: auto;
}