.general-container {
    background-color: #F4F7FC;
}

.sub-container {
    background-color: #FFFFFF;
    height: 100%;
    border-radius: 300px;
}

.isologo-container {
    width: 100%;
}

.isologo {
    width: 180px;
    margin: auto;
    margin-top: 50px;
}

.fields-container {
    width: 100%;
}