<ion-row class="wallet-header-container">
  <ion-col size="5" class="wallet-header-column">
    <ion-text class="wallet-header-text-isologo">
      Wallet Planifier
    </ion-text>
  </ion-col>

  <ion-col size="4" class="wallet-header-column">
    <button class="wallet-header-currency-button" (click)="null">USD</button>
  </ion-col>

  <ion-col size="3" class="wallet-header-column">
    <button class="wallet-header-user-option" (click)="null">
      <ion-img class="wallet-header-user-icon" src="../../assets/images/icons/user.png"></ion-img>
    </button>
  </ion-col>
</ion-row>