<ion-tabs class="tabs">
  <ion-row>
    <ion-col class="tabs-button-container">
      <wallet-icon-button [iconPath]="'../../assets/images/icons/home.png'"></wallet-icon-button>
    </ion-col>

    <ion-col class="tabs-button-container">
      <wallet-icon-button [iconPath]="'../../assets/images/icons/statistics.png'"></wallet-icon-button>
    </ion-col>

    <ion-col class="tabs-button-container">
      <wallet-icon-button [iconPath]="'../../assets/images/icons/wallet.png'"></wallet-icon-button>
    </ion-col>
  </ion-row>
</ion-tabs>