<ion-row class="login-general-container">
  <ion-col class="login-sub-container">
    <form (ngSubmit)="logIn()">
      <ion-row class="login-isologo-container">
        <ion-img class="login-isologo" src="../../assets/isologo.png"></ion-img>
      </ion-row>

      <ion-row class='login-fields-container'>
        <ion-row class="login-input-field">
          <wallet-input name="username" title="Username" type="text" value="" (callback)="credentials.username = $event"></wallet-input>
        </ion-row>

        <ion-row class="login-input-field">
          <wallet-input name="password" title="Password" type="password" value="" (callback)="credentials.password = $event"></wallet-input>
        </ion-row>
      </ion-row>

      <ion-row class="login-buttons-container">
        <ion-row class="login-button">
          <wallet-button [title]="'Sign in'" [styleType]="'success'" [isFormButton]="true"></wallet-button>
        </ion-row>

        <ion-row class="login-button">
          <wallet-button [title]="'Sign up'" [styleType]="'primary'" (callback)="goToSignUp()"></wallet-button>
        </ion-row>
      </ion-row>

      <ion-row class="login-forgot-password">
        Forgot password?
      </ion-row>
    </form>
  </ion-col>
</ion-row>