<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="debts"></ion-back-button>
        </ion-buttons>
        <ion-title>Debts detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="debt && frecuencyData">

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>{{debt.creationTime | date}}</ion-card-subtitle>
            <ion-card-title>{{debt.description}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <section>
                <header>
                    <h3>General Information</h3>
                </header>
                <ion-list>                    
                    <ion-item>
                        <ion-label><b>Amount</b></ion-label>
                        <ion-note slot="end">{{debt.amount | number}}</ion-note>
                    </ion-item>
                    <ion-item>
                        <ion-label><b>Is it fixed?</b></ion-label>
                        <ion-note slot="end">{{debt.isFixed ? 'Yes' : 'No' }}</ion-note>
                    </ion-item>
                    <ion-item *ngIf="!debt.isFixed">
                        <ion-label><b>End Date</b></ion-label>
                        <ion-note slot="end">{{debt.endDate | date }}</ion-note>
                    </ion-item>
                    <ion-item>
                        <ion-label><b>Frecuency</b></ion-label>
                        <ion-note slot="end">{{frecuencyData.description}}</ion-note>
                    </ion-item>
                    <ion-item>
                        <ion-label><b>Number of days</b></ion-label>
                        <ion-note slot="end">{{frecuencyData.amountInDays}}</ion-note>
                    </ion-item>
                </ion-list>
            </section>

            <section>
                <header>
                    <h3>Actions</h3>
                </header>
                <div style="margin-bottom: 10px;">
                    <wallet-button styleType="dark" title="Edit debt" [routerLink]="'/debts/edit/'+debt.id"></wallet-button>
                </div>
                <div>
                    <wallet-button styleType="success" title="Apply transaction" (callback)="applyTransaction(debt.id)"></wallet-button>
                </div>
            </section>

            <section>
                <ion-list>
                    <ion-list-header>
                        <ion-label>List of transactions</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-label><b>Description</b></ion-label>
                        <ion-note slot="end">Amount</ion-note>
                    </ion-item>
                    <ion-item-group *ngFor="let transaction of debt.transactions">
                        <ion-item-divider>
                            <ion-label>{{transaction?.title}}</ion-label>
                        </ion-item-divider>
                        
                        <ion-item>
                            <ion-label>
                                <h2>{{transaction.completedTime | date}}</h2>
                                <h3>{{transaction?.description}}</h3>
                            </ion-label>
                            <ion-note slot="end" color="danger">
                                {{transaction?.finalWalletValue | number}}
                            </ion-note>                            
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h3>Wallet before transaction</h3>
                            </ion-label>
                            <ion-note slot="end" color="primary">
                                {{transaction?.originWalletValue | number}}                                
                            </ion-note>
                        </ion-item>
                    </ion-item-group>
                </ion-list>
            </section>
        </ion-card-content>
    </ion-card>
</ion-content>