<ion-row class="home-general-container">
  <ion-row class="home-header-container">
    <ion-col size="5" class="home-header-column">
      <ion-text class="home-header-text-isologo">
        Wallet Planifier
      </ion-text>
    </ion-col>

    <ion-col size="4" class="home-header-column">
      <button class="home-header-currency-button" (click)="null">USD</button>
    </ion-col>

    <ion-col size="3" class="home-header-column">
      <button class="home-header-user-option" (click)="null">
        <ion-img class="home-header-user-icon" src="../../assets/images/icons/user.png"></ion-img>
      </button>
    </ion-col>
  </ion-row>
</ion-row>
