@font-face {
    font-family: Roboto-Bold;
    src: url(../../../assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../../../assets/fonts/roboto/Roboto-Regular.ttf);
}

:host {
    width: 100%;
    height: 55px;
    position: relative;
}

.wallet-input-title {
    font-family: Roboto-Bold;
    color: #5181F1;
    font-size: 12pt;
}

.wallet-input-field {
    border-bottom: 1px solid #707070;
    color: #888888;
    font-size: 14pt;
    font-family: Roboto-Regular;
    padding: 0;
    height: 35px;
}

.wallet-input-field-password {
    padding-right: 35px !important;
}

.wallet-input-eye {
    width: 30px;
    position: absolute;
    z-index: 1000;
    right: 5px;
    top: 15px;
}